<label>Property Binding</label>

<input type="text"
       class="form-control"
       (input)="onUpdateServerName($event)">

<p>{{ serverName }}</p>

<hr>

<label>Two-Way Databinding</label>

<input type="text"
       class="form-control"
       [(ngModel)]="serverName">

<p>{{ serverName }}</p>

<hr>

<label>Event Binding</label> <br>

<button class="btn btn-primary"
        [disabled]="!allowNewServer"
        (click)="onCreateServer()">Add Server</button>

<hr>

<p *ngIf="serverCreated; else noServer">{{ serverCreationStatus }}</p>

<ng-template #noServer>
  <p>No server was created!</p>
</ng-template>

<hr>

<p>{{ allowNewServer }}</p>
<p [innerText]="allowNewServer"></p>

<hr>

<app-server *ngFor="let server of servers; let i = index"></app-server>
<!-- first let, iterates the servers; second let, takes the index -->
